@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #784cfb;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}

#page-container {
    min-height: 100%;
  }
  #page-content{
    overflow: auto;
    padding-bottom: 40px;
  }
  footer {
    position: relative;
    height: 40px;
    margin-top: -40px;
    clear: both;
  }
  #papic_profile_low{
     height: 300px;
     width: 300px;
  }
  #image_high{
    height: 50rem;
    width: 50rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
  body{
      background-color: #a2e0f5;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
  }
  .container{
      transition: 1s;
  }
  #papic_container{
      background-color: white;
      height: 900px;
      background: -webkit-linear-gradient(0deg,white 50%,#e3dede 50%);
      background-size: 200%;
  }
  #papic_container:hover{
    background-position: 100%;
  }
  #mesinger_container{
      background-color: white;
      height: 900px;
      background: -webkit-linear-gradient(0deg,white 50%,#e3dede 50%);
      background-size: 200%;
  }
  #mesinger_container:hover{
    background-position: -100%;
  }
  img:hover{
      border: white solid 1px;
  }
  .bi{
    color: var(--main-color);
    font-size: x-large;
  }

  #title{
    font-size: 3.8rem;
  line-height: 0.8;
  color: var(--dark-one);
  }
  #name-title{
    font-size: 3.2rem;
  line-height: 0.8;
  color: var(--dark-one);
  }
  .section{
    color: #4a2ca3;
    font-size: 1.4rem;
  }
  .title{
    font-weight: 700;
    color: var(--main-color);
  }

  #mesinger_profile_low{
    height: 300px;
    width: 300px;
 }

 #mesinger-detail-container{
  background-color: white;
  height: fit-content;
  width: 95%;
  background: -webkit-linear-gradient(0deg,white 50%,#e3dede 50%);
  background-size: 200%;

 }